{% extends 'base.html.twig' %}

{% block title %}Zmiana Hasła{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Zmiana Hasła</h1>

    {% if app.user %}
        <p>Zalogowany jako : {{ app.user.username }}</p>
    {% endif %}

    {{ form_start(changePasswordForm) }}
    <div>
        {{ form_label(changePasswordForm.currentPassword, 'label.CurrentPassword'|trans) }}
        {{ form_widget(changePasswordForm.currentPassword, {
            'attr': {'class': 'form-control'}
        }) }}
    </div>
    <div>
        {{ form_label(changePasswordForm.newPassword, 'label.NewPassword'|trans) }}
        {{ form_widget(changePasswordForm.newPassword, {
            'attr': {'class': 'form-control'}
        }) }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Zmień Hasło</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
