{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_details'|trans({'%title%': recipe.title|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.recipe_details'|trans({'%title%': recipe.title|default('')}) }}</h1>
    {% if recipe is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ recipe.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ recipe.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ recipe.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ recipe.category.title }}</dd>
            <dt>{{ 'label.tag'|trans }}</dt>
            <dd>
                {% for tag in recipe.tags %}
                    {{ tag.title }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ recipe.author.nickname }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ recipe.content|markdown_to_html }}</dd>
        </dl>

        <h3>Komentarze:</h3>
        {% for comment in commentsPagination|reverse %}
            <div class="comment-table">
                <div class="comment-row">
                    <strong>{{ comment.author.nickname }}</strong> - {{ comment.createdAt|format_date('long') }}
                    <p>{{ comment.content }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {{ knp_pagination_render(commentsPagination) }}

        <br>

        <a href="{{ path('comment_add', {'recipeId': recipe.id}) }}" class="btn btn-primary">Dodaj komentarz</a>

        <br><br>

        <p>
            <a href="{{ url('recipe_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-primary">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
